Source: mauna-common
Section: admin
Priority: optional
Maintainer: Mauna Linux <dev@maunalinux.top>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 3.9.5

Package: mauna-common
Architecture: all
Depends: python3,
         aptkit,
         python3-gi,
         python3-html2text,
         gir1.2-gtk-3.0,
         gir1.2-xapp-1.0,
         gir1.2-xmlb-2.0,
         mauna-translations,
         libgtk3-perl,
         ${misc:Depends},
Conflicts: aptdaemon, aptdaemon-data, python3-aptdaemon.gtk3widgets, python3-aptdaemon.test, python3-aptdaemon
Breaks: aptdaemon, aptdaemon-data, python3-aptdaemon.gtk3widgets, python3-aptdaemon.test, python3-aptdaemon
Replaces: aptdaemon, aptdaemon-data, python3-aptdaemon.gtk3widgets, python3-aptdaemon.test, python3-aptdaemon
Description: Common scripts and resources for Mauna Linux
 A collection of scripts and resources used by other Mauna Linux packages
